@use '@style/vars' as *;

.rate {
  font-size: initial !important;

  & > * {
    margin-inline-end: $size * 0.25 !important;
  }
}

.rateItemDefault {
  color: $color-gray-3;
  font-size: 14px;
}

.rateItemActive {
  color: $color-yellow-5;
  font-size: 16px;
}
