.text-editor {
  .ck-content {
    padding: 8px 12px !important;
    color: #333333 !important;
  }

  .ck-editor__editable {
    max-height: 400px;
    overflow-y: auto;
  }

  :first-child {
    margin-top: 0;
  }

  &:focus-visible {
    outline: none;
  }

  /* List styles */
  ul {
    margin-bottom: 1em;

    &:last-child {
      margin: 0;
    }

    li {
      display: list-item;
    }
  }

  ol li {
    display: list-item;
  }

  ul,
  ol {
    padding-left: 16px;

    li p {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}
