.text-editor {
  .ck-content {
    min-height: 6em;
    padding: 8px 12px !important;
    color: #333333 !important;
  }

  :first-child {
    margin-top: 0;
  }

  &:focus-visible {
    outline: none;
  }

  /* List styles */
  ul {
    li {
      display: list-item;
    }
  }

  ol li {
    display: list-item;
  }

  ul,
  ol {
    padding-left: 16px;

    li p {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  p {
    margin: 0 !important;
  }
}
