@use '@style/vars' as *;

.list {
  & ul {
    padding-left: $size * 1;

    & li {
      display: list-item;
    }
  }
}

.disableMeaning {
  border: 1px solid #ff4d4f !important;
}

.archive {
  color: $color-text-secondary !important;
  border-color: $color-text-secondary !important;
  border-radius: $size * 0.25 !important;
}

.item {
  & ul,
  & ol {
    & p {
      margin-bottom: $size * 0.25;
    }
  }

  & p {
    margin-bottom: $size * 0.25;
  }
}

.meaningItem {
  display: flex;
  flex-direction: column;
  gap: $size * 0.5;
  padding: $size;
  border-radius: $size * 0.25;
  border: 1px solid #91caff;

  & img {
    max-width: 100%;
    height: auto;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }

  h5 {
    :global([data-theme='dark']) & {
      color: $color-white;
    }
  }
}

.contentItem {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: $size * 0.5;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  word-break: break-word;
  min-height: $control-height;
  gap: $size * 0.5;
}

.btnDelete {
  flex: 0 0 38px;
}

.origin {
  display: flex;
  flex: 1;
  align-items: flex-start;
  justify-content: space-between;
  gap: $size * 0.25;
  font-size: $font-size-heading-4;
  margin: 0;
  padding: $size * 0.25 0;

  & span {
    display: block;
  }
}

.quickView {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  color: $color-white !important;
}

.warnTitle {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  color: $color-text-secondary;
}

.kindOfWord {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: $size * 0.5;
  margin-bottom: 0;
  font-weight: normal;
  font-style: italic;
}

.date {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: $size * 0.5;
  margin: $margin * 0.5 0;
  font-size: 11px;
  font-weight: normal;
  font-style: italic;
  width: 100%;
}

.level {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-weight: normal;
  line-height: 1em;
  min-height: $size * 2;
  margin: 0 0 0 0;
  gap: $size * 0.5;
}

.pronouns {
  font-weight: normal;
}

.examples {
  padding-left: 0;

  > li {
    > ul {
      padding: $size * 0.5 $size * 0.5 $size * 0.5 $size;
      border-top: 1px solid $color-text-secondary;

      li {
        display: list-item;
      }
    }
  }

  & textarea {
    resize: none !important;
    color: $color-white !important;
    background: transparent !important;

    &:focus {
      color: $color-white !important;
      background: transparent !important;
    }

    &:focus-within {
      color: $color-white !important;
      background: transparent !important;
    }
  }
}

.definition {
  font-size: $font-size;

  // :global([data-theme='dark']) & {
  //   color: $color-white;
  // }

  & li {
    display: list-item;
  }
}

.translate {
  font-size: $font-size;

  // :global([data-theme='dark']) & {
  //   color: $color-white;
  // }

  & li {
    display: list-item;
    word-break: break-word;
  }
}

.audio {
  display: flex;
  gap: $size * 0.25;
  align-items: center;
  color: $color-white;
}

.btnAudio {
  color: $color-text-base !important;
}

.audioIcon {
  color: $color-white !important;
}

.note {
  font-weight: normal;
  font-style: italic;
  font-size: 14px;

  :global([data-theme='dark']) & {
    color: $color-white;
  }

  & ul {
    padding-left: $size * 1;
  }

  & li {
    display: list-item;
  }
}

.listItem {
  padding-left: $size * 1;
  font-size: 13px;

  & li {
    display: list-item;
  }
}

.btnActions {
  color: $color-text !important;

  & span {
    font-size: $font-size-heading-4 !important;
  }
}

.btnAction {
  width: 100%;
  text-align: left !important;
}
