@use '@style/vars' as *;

.list {
  & ul {
    padding-left: $size * 1;

    & li {
      display: list-item;
    }
  }
}

.disableMeaning {
  border: 1px solid #ff4d4f !important;
}

.archive {
  color: $color-text-secondary !important;
  border-color: $color-text-secondary !important;
  border-radius: $size * 0.25 !important;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  // padding: $padding * 0.5 $padding * 0.75 $padding * 0.5 $padding * 0.75;
  // border-radius: 4px;
  border: none;
  box-shadow: 0px 0px 30px 0px rgba(255, 255, 255, 0.2);
  color: $color-text-base;

  :global([data-theme='dark']) & {
    box-shadow: none;
    color: #c8caee;
  }

  :global([data-theme='dark']) &.active {
    color: #e0e2ff;
  }

  & ul,
  & ol {
    padding-left: $size;

    & p {
      margin-bottom: $size * 0.25;
    }
  }

  & p {
    margin-bottom: $size * 0.25;
  }
}

.meaningItem {
  padding: $size * 0.25 $size * 0.5;
  border-radius: $size * 0.25;
  border: 1px solid #91caff;

  &.active {
    // border: 1px solid color-mix(in srgb, $color-text-base, transparent 80%);
  }

  & > * {
    margin: $size * 0.25 0;
  }

  & img {
    max-width: 100%;
    height: auto;
  }
}

.contentItem {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: $size * 0.5;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  word-break: break-word;
  min-height: $control-height;
  gap: $size * 0.5;
}

.btnDelete {
  flex: 0 0 38px;
}

.nestedExampleItem {
  display: list-item;
  margin-top: -1px;
  padding: 0 0 0 0;
  line-height: 2em;

  & ul {
    padding-left: 0;

    & li:before {
      content: '\201C';
    }

    & li:after {
      content: '\201D';
    }
  }

  & textarea {
    resize: none !important;
    color: $color-white !important;
    background: transparent !important;

    &:focus {
      color: $color-white !important;
      background: transparent !important;
    }

    &:focus-within {
      color: $color-white !important;
      background: transparent !important;
    }
  }
}

.origin {
  display: flex;
  flex: 1;
  align-items: flex-start;
  justify-content: space-between;
  gap: $size * 0.25;
  font-size: $font-size-heading-4;
  margin: 0;
  padding: $size * 0.25 0;

  & span {
    display: block;
  }
}

.quickView {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  color: $color-white !important;
}

.warnTitle {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  color: $color-text-secondary;
}

.kindOfWord {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: $size * 0.5;
  margin-bottom: 0;
  font-weight: normal;
  font-style: italic;
}

.date {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: $size * 0.25;
  margin: $margin * 0.25 0;
  font-size: 11px;
  font-weight: normal;
  font-style: italic;
  width: 100%;
}

.level {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-weight: normal;
  line-height: 1em;
  min-height: $size * 2;
  margin: 0 0 0 0;
  gap: $size * 0.5;
}

.pronouns {
  font-weight: normal;
}

.definition {
  color: $color-primary;
  font-size: $font-size;

  :global([data-theme='dark']) & {
    color: $color-white;
  }

  & li {
    display: list-item;
  }
}

.translate {
  color: $color-blue-5;
  font-size: $font-size;

  & li {
    display: list-item;
    word-break: break-word;
  }
}

.audio {
  display: flex;
  gap: $size * 0.25;
  align-items: center;
  color: $color-white;
}

.btnAudio {
  color: $color-text-base !important;

  &.active {
    // color: $color-white !important;
  }
}

.audioIcon {
  color: $color-white !important;
}

.note {
  font-weight: normal;
  font-style: italic;
  font-size: 14px;
  color: #f7812b;

  & ul {
    padding-left: $size * 1;
  }

  & li {
    display: list-item;
  }
}

.listItem {
  padding-left: $size * 1;
  font-size: 13px;

  & li {
    display: list-item;
  }
}

.btnActions {
  color: $color-text !important;

  &.active {
    // color: $color-white !important;
  }

  & span {
    font-size: $font-size-heading-4 !important;
  }
}

.btnAction {
  width: 100%;
  text-align: left !important;
}
