@use '@style/vars' as *;
// No Result In List styles - TODO: Add your styles here from the original react-jss implementation
.optionItem {
  display: block;
  padding: $padding-xs;
}

.btnAddNew {
  display: block;
}
