@use '@style/vars' as *;

.wrapper {
  min-height: 100vh !important;
}

.sider {
  overflow: auto;
  height: 100vh;
  position: fixed !important;
  left: 0;
  top: 0;
  bottom: 0;
}

.contentStyle {
  color: $color-text;
  min-width: 320px;

  :global([data-theme='dark']) & {
    background: transparent !important;
  }
}

.main {
  padding: $size 0 $size * 8 0;
}

@media screen and (max-width: 640px) {
  .main {
    padding-bottom: 180px;
  }
}

.siteLayout {
  margin-left: 240px; // styleConfig.sider.width
}

.show {
  margin-left: 80px; // styleConfig.sider.widthCollapse
  transition: all 0.2s;
}
