.tagLabel {
  margin-right: calc(var(--ant-size) * 0.25);
}

.tagItemContainer {
  display: flex;
  font-size: 13px;
  color: inherit !important;
  background: transparent !important;
  height: auto !important;

  & span {
    flex: 1;
    display: block;
    padding: 2px calc(var(--ant-size) * 0.5);
    color: inherit;

    &:hover {
      color: var(--ant-color-primary);
      cursor: pointer;
    }
  }

  & button {
    padding: calc(var(--ant-size) * 0.125) 0;
    background: transparent !important;
    border: none;
    border-left: 1px solid var(--ant-color-text);
    outline: none;
    cursor: pointer;
    border-radius: 0;

    &:hover {
      background: var(--ant-color-primary);
    }
  }
}

.tagItem {
  display: inline-block;
  margin: calc(var(--ant-size) * 0.25) calc(var(--ant-size) * 0.25);
  border-radius: calc(var(--ant-size) * 0.25);
  border: 1px solid var(--ant-color-text);

  &.active {
    border: 1px solid var(--ant-color-white);

    & button {
      border-left: 1px solid var(--ant-color-white);
    }
  }
}
