@use '@style/vars' as *;

.tagItemContainer {
  display: flex;
  font-size: 13px;
  color: inherit !important;
  background: transparent !important;
  height: auto !important;

  & span {
    flex: 1;
    display: block;
    padding: 2px $size * 0.5;
    color: inherit;

    &:hover {
      color: $color-primary;
      cursor: pointer;
    }
  }

  & button {
    padding: $size * 0.125 0;
    background: transparent !important;
    border: none;
    border-left: 1px solid $color-text;
    outline: none;
    cursor: pointer;
    border-radius: 0;

    &:hover {
      background: $color-primary;
    }
  }
}

.tagItem {
  border-radius: $size * 0.25;
  border: 1px solid $color-text;

  &.active {
    border: 1px solid $color-white;

    & button {
      border-left: 1px solid $color-white;
    }
  }
}
