@use '@style/vars' as *;

.articleItem {
  padding: $size * 1.5 $size * 2;
  border-radius: $size * 0.5;
  border: 1px solid $color-border;
  background-color: $color-white;
  height: 100%;
  word-break: break-all;
}

.title {
  color: $color-primary;
}
