@use '@style/vars' as *;

.registerForm {
  width: 600px;
  max-width: 100%;
  margin: $size * 2 auto;
  background: $white;
}

.label {
  display: block;
  font-weight: 500;
  margin-bottom: $size * 0.25;
  color: $color-gray-6;
  font-style: italic;
  font-size: 13px;
}

.register {
  text-align: center;
  color: $color-gray-4;

  & p {
    margin: 0;
  }
}
