@use '@style/vars' as *;
.btnInactive {
  background: transparent !important;
  color: $color-text-secondary !important;
  border-color: $color-text-secondary !important;
}

.btnActive {
  background: transparent !important;
  color: $color-primary !important;
  border-color: $color-primary !important;
}

.items {
  margin: $size * 1 0;
  padding-bottom: $size * 1 0;
}

.stickyBar {
  position: sticky;
  z-index: 999;
  background: #ffffff;
  border-bottom: 1px solid rgba(217, 217, 217, 0.2);
}

.itemTable {
  background: #ffffff;
  margin: $size * 1 0;
  padding: $size * 1;
  overflow: auto;

  & table {
    margin: 0 0 $size * 1 0;
    min-width: 1200px;

    & tbody tr {
      border-bottom: 1px solid rgba(217, 217, 217, 0.2);

      &:last-child {
        border: none;
      }

      &:hover {
        box-shadow: 0 0 $size * 1 0 rgba(0, 0, 0, 0.3);
      }

      & td:nth-child(2) {
        cursor: pointer;

        &:hover {
          color: $color-link-hover;
        }
      }
    }

    & thead tr {
      border-bottom: 1px solid rgba(217, 217, 217, 0.2);
    }

    & td {
      padding: $size * 0.5;
      line-height: $line-height;
    }

    & th {
      padding: $size * 0.5 $size * 0.5 $size * 1;
      line-height: $line-height;
      font-size: $font-size-heading-5;
    }

    & thead tr th:nth-child(1) {
      width: 5%;
    }
    & thead tr th:nth-child(2) {
      width: 10%;
      text-align: left;
    }
    & thead tr th:nth-child(3) {
      width: 5%;
    }
    & thead tr th:nth-child(4) {
      width: 5%;
    }
    & thead tr th:nth-child(5) {
      width: 5%;
    }
    & thead tr th:nth-child(6) {
      width: 12%;
      text-align: left;
    }
    & thead tr th:nth-child(7) {
      width: 15%;
      text-align: left;
    }
    & thead tr th:nth-child(8) {
      width: 15%;
      text-align: left;
    }
    & thead tr th:nth-child(9) {
      width: 18%;
    }
    & thead tr th:nth-child(10) {
      width: 10%;
    }

    & tbody tr td:nth-child(1) {
      width: 5%;
      text-align: center;
    }
    & tbody tr td:nth-child(2) {
      width: 10%;
    }
    & tbody tr td:nth-child(3) {
      width: 5%;
      text-align: center;
    }
    & tbody tr td:nth-child(4) {
      width: 5%;
      text-align: center;
    }
    & tbody tr td:nth-child(5) {
      width: 5%;
      text-align: center;
    }
    & tbody tr td:nth-child(6) {
      width: 12%;
    }
    & tbody tr td:nth-child(7) {
      width: 15%;
    }
    & tbody tr td:nth-child(8) {
      width: 15%;
    }
    & tbody tr td:nth-child(9) {
      width: 18%;
      text-align: center;
    }
    & tbody tr td:nth-child(10) {
      width: 10%;
    }
  }
}

.btnActions {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
