@use '@style/vars' as *;

.studySet {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: column wrap;
  // background: $color-bg-item;

  &:focus-visible,
  &:focus,
  &:focus-within {
    // box-shadow: 0 0 $size * 1 0 rgba(0, 0, 0, 1); // hex2Rgba(token.colorTextBase)
  }
}

.studySeHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $size * 1;
  width: 100%;
  text-align: center;
}

.fib {
  margin: $size * 2 0 $size * 1;
}

.fibQuestion {
  margin-bottom: $size * 0.5;
}

.fibWrapper {
  padding: 0;
  display: inline-block;
  background: $color-white;
  border-radius: 38px;
  box-shadow: 0px 0px 30px 0px rgba(255, 255, 255, 0.25) !important;

  & > input {
    border-radius: $size * 2 !important;
    display: block !important;
    box-shadow: 0px 0px 30px 0px rgba(255, 255, 255, 0.25) !important;
    font-size: $font-size-heading-4 !important;
    letter-spacing: 1.1px;
    text-align: center;

    &.correct {
      border: 2px solid $color-primary !important;
      color: $color-white !important;
      background: $color-primary !important;
      cursor: default !important;
    }

    &.incorrect {
      border: 2px solid $color-text-secondary !important;
      color: $color-white !important;
      background: $color-text-secondary !important;
      cursor: default !important;
    }
  }
}

.fibContainer {
  font-size: $font-size-heading-4 !important;
  display: flex;
  justify-content: center;
}

.fibInput {
  display: inline-block;
  min-width: $size * 1 !important;
  color: #d9d9d9;
  font-size: $font-size-heading-3 !important;
  background: transparent;
  box-shadow: none;
  border: none;

  &:focus,
  &:focus-visible {
    outline: none;
    border: none;
    color: $color-white !important;
  }

  &::-moz-selection {
    color: #d9d9d9;
    background: transparent;
  }

  &::selection {
    color: #d9d9d9;
    background: transparent;
  }

  &::placeholder {
    color: #d9d9d9;
    background: transparent;
  }

  &:-ms-input-placeholder {
    color: #d9d9d9;
    background: transparent;
  }

  &::-ms-input-placeholder {
    color: #d9d9d9;
    background: transparent;
  }
}

.fibInputActive {
  color: $color-white;
}

.studySetBody {
  padding: $size * 1;
  padding-top: 0;
  width: 100%;
  text-align: center;
  // font-family: 'Lora', sans-serif;

  & h2 {
    font-size: $font-size-heading-2;
    color: $color-primary;
    line-height: $line-height;
  }

  & h3 {
    font-size: $font-size-heading-3;
    color: $color-white;
    margin-bottom: $size * 0.5;
    line-height: $line-height;
  }

  & h4 {
    font-size: $font-size-heading-4;
    color: #4096ff;
    margin-bottom: $size * 0.5;
    line-height: $line-height;
  }

  & h5 {
    font-size: $font-size-heading-5;
    color: #ffd666;
    line-height: $line-height;
  }
}

.progress {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: $size * 1;
}

.progressCounter {
  color: $color-white;
  font-weight: bold;
}

.mtc {
  margin: $size * 2 0 $size * 0.5;

  & > ul {
    width: 600px;
    max-width: 100%;
    margin: $size * 1 auto;
    text-align: left;

    & li {
      padding: $size * 0.25 $size * 0.5;
      margin: $size * 0.25 0;
      border: 2px solid rgba(255, 255, 255, 0.45);
      border-radius: $size * 0.5;

      & p {
        margin: 0;
        padding: 0;
      }
    }

    & > li {
      padding: $size * 0.75 $size * 1.25;
      margin: $size * 0.75 0;
      border-radius: $size * 0.5;
      color: $color-white;
      font-size: $font-size-heading-5;
      border: 2px solid rgba(255, 255, 255, 0.45);
      line-height: $line-height;
      cursor: pointer;

      & i {
        margin-left: $size * 0.5;
        color: $color-primary;
      }

      &:hover {
        border: 2px solid $color-white;
        color: $color-white;
      }

      &.active {
        background: $color-white;
        color: #252734;
      }

      &.correct {
        border: 2px solid $color-primary !important;
        background: $color-primary !important;
        color: $color-white;

        & i {
          color: $color-text-base;
          font-weight: bold;
        }
      }

      &.incorrect {
        border: 2px solid rgba(238, 74, 121, 0.5) !important;
        background: rgba(238, 74, 121, 0.25) !important;
        color: $color-white;
      }
    }
  }
}

.resultReference {
  text-align: left;
  width: 500px;
  max-width: 100%;
  margin-bottom: $size * 1 !important;
}

.studySetFooter {
  width: 100%;
  padding: $size * 1 $size * 1;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  gap: $size * 1;
}

.btnAction {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: $size * 1;
  margin-bottom: $size * 1;

  & button {
    min-width: $size * 7.5;
    padding-left: $size * 2 !important;
    padding-right: $size * 2 !important;
  }
}

.result {
  font-size: $font-size-heading-2;
  color: $color-white;

  & h3 {
    margin: 0;
  }
}

@media screen and (max-width: 767px) {
  .mtc {
    margin: $size * 1 auto $size * 0.5;

    & ul {
      margin: 0 auto;

      & li {
        padding: $size * 0.5 $size * 0.75;
        margin: $size * 0.5 0;
        font-size: $font-size;
      }
    }
  }

  .resultReference {
    margin: 0 auto;
  }

  .studySetBody {
    & h5 {
      font-size: $font-size;
      margin-bottom: $size * 0.25;
    }

    & h4 {
      font-size: $font-size;
      margin-bottom: $size * 0.25;
    }

    & h3 {
      font-size: $font-size-heading-5;
      margin-bottom: $size * 0.25;
    }
  }

  .fib {
    margin: $size * 1.5 0 $size * 0.5;
  }

  .fibInput {
    min-width: $size * 0.75 !important;
    font-size: $font-size-heading-5 !important;
  }

  .fibQuestion {
    margin-bottom: $size * 0.5;
  }

  .fibWrapper {
    & > input {
      font-size: $font-size-heading-5 !important;
    }
  }
}
