.widget {
  margin-bottom: calc(var(--ant-size) * 1);
}

.widgetTitle {
  text-align: center;
  margin-bottom: 0;
  text-transform: capitalize;
  padding: calc(var(--ant-size) * 0.75) calc(var(--ant-size) * 1);
  font-size: var(--ant-font-size-heading-2);
  font-family: Oswald, sans-serif; // styleConfig.fontFamily.lato
  font-weight: normal;
  letter-spacing: 0.5px;
  color: var(--ant-color-text-secondary);
}
