.label {
  color: var(--ant-color-white);
}

.showMeaningOption {
  & p {
    margin: 0;
  }

  & ul {
    padding-left: calc(var(--ant-size) * 1);

    & li {
      display: list-item;
      word-break: break-word;
    }
  }
}

.contentStyle {
  padding: calc(var(--ant-size) * 0.5);
  border: 1px solid var(--ant-color-primary);
}

.disableMeaning {
  border: 1px solid var(--ant-red-3);
}

.warnIcon {
  color: var(--ant-color-text-secondary);
  margin-right: calc(var(--ant-size) * 0.5);
}

.alertIcon {
  color: #faad14;
  margin-left: calc(var(--ant-size) * 0.5);
}

.action {
  display: flex;
  justify-content: flex-end;
  gap: calc(var(--ant-size));

  & button {
    min-width: 100px;
  }
}

.itemExisted {
  padding: calc(var(--ant-size) * 0.25) 0;
  border-bottom: 1px solid var(--ant-color-primary);

  &:last-child {
    border: none;
  }
}
