@use '@style/vars' as *;
.label {
  color: $color-white;
}

.showMeaningOption {
  & p {
    margin: 0;
  }

  & ul {
    padding-left: $size * 1;

    & li {
      display: list-item;
      word-break: break-word;
    }
  }
}

.contentStyle {
  padding: $size * 0.5;
  border: 1px solid $color-primary;
}

.disableMeaning {
  border: 1px solid $color-red-3;
}

.warnIcon {
  color: $color-text-secondary;
  margin-right: $size * 0.5;
}

.alertIcon {
  color: #faad14;
  margin-left: $size * 0.5;
}

.action {
  display: flex;
  justify-content: flex-end;
  gap: $size;

  & button {
    min-width: 100px;
  }
}

.itemExisted {
  padding: $size * 0.25 0;
  border-bottom: 1px solid $color-primary;

  &:last-child {
    border: none;
  }
}
