@use '@style/vars' as *;
.mainNavMenu {
  padding: $size * 1;

  &:global(.horizontal) {
    & :global(ul li.ant-menu-item) {
      color: $color-text-base;
    }
  }

  & li {
    font-weight: bold;
    text-transform: capitalize;
    font-size: 16px;
    margin: 0 !important;
    padding-left: $size * 1 !important;
    width: 100% !important;

    & .icon {
      font-size: 20px !important;
    }
  }
}

.horizontalMenu {
  padding: 0px !important;
  width: 100% !important;

  & ul {
    display: flex;
    height: 100%;
    border: none !important;
    width: 100% !important;
    justify-content: center !important;
    align-items: center !important;

    & li {
      padding: 0 $size * 1 !important;
      width: auto !important;
      margin: 0 !important;
      font-size: 14px;

      &:after {
        content: none !important;
      }
    }
  }
}

@media screen and (min-width: 1025px) {
  .horizontal {
    & ul li {
      padding: 0 $size * 2 !important;
    }
  }
}
