@use '@style/vars' as *;

.inputAutoComplete {
  min-width: 100px;
  margin-right: $margin * 0.5 !important;
}

.tagPlus {
  border-style: dashed !important;
  min-width: 80px;
}

.tag {
  min-height: 38px;
  min-width: 110px;
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  user-select: none;
  margin-right: $size * 0.5;
  font-size: $font-size !important;

  & span {
    flex: 1 0;
    line-height: 36px;
  }

  & span:global(.anticon) {
    flex: 0 0;
  }
}
