@use '@style/vars' as *;
.title {
  flex: 0 0;
  min-width: 100%;
  display: flex;
  align-items: center;
  gap: $size * 0.5;
  font-size: $font-size-heading-5;
}

.exampleOverview {
  margin-bottom: $size * 1;
  background: rgba($color-bg-item, 0.9);
  border-radius: 4px;
  border: 1px solid rgba($color-bg-item, 0.4);
  box-shadow: 0px 0px 30px 0px rgba($white, 0.2);
  color: $color-white;
  padding: $size * 1;

  & form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: $size * 0.5;
  }
}

.exampleForm {
  background: #ffffff;
  border-radius: 4px;
  color: $color-text-base;
  box-shadow: 0px 0px 30px 0px rgba(255, 255, 255, 0.2);
  padding: $size $size $size * 2;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: $size * 0.5;

  & textarea {
    resize: none !important;
    color: $color-text-base !important;
    background: transparent !important;

    &:disabled {
      color: transparent !important;
      background: transparent !important;
    }
  }
}

.overviewForm {
  margin-bottom: $size * 1;
}

.exampleItemOverride {
  position: relative;
  padding-right: $size * 5 !important;

  &:first-child {
    border-top: none;
  }
}

.btnGroup {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  z-index: 99;
}

.autoSearchInput {
  flex: 1 0 180px;
  background: transparent !important;

  & .emr-select-selector {
    background: transparent !important;
    color: $color-white !important;
  }
}

.searchExampleInput {
  background: transparent !important;

  & input {
    background: transparent !important;
    color: $color-white !important;
  }
}

.optionItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.exampleSelectedEx {
  border-bottom: 1px solid #ffbb96;
  border-top: 1px solid #ffbb96;
  background: rgba(145, 202, 255, 0.15);
}

.textarea {
  min-width: 100%;
  display: flex;
  gap: $size * 1;
  max-height: 800px;
  overflow: auto;
  flex-wrap: wrap;
}

.textareaItem {
  flex: 1 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: $size * 1;
}

.innerTextarea {
  padding: $size * 0.5;
  background: $color-bg-base;
  color: $color-text-base !important;
  font-size: $font-size-heading-5 !important;
  min-height: 250px;
  flex: 1 0;
  min-width: 100%;

  &:focus,
  &:hover {
    background: #fff !important;
  }

  & p {
    margin-bottom: $size * 0.5;
    line-height: 1.3em;
  }
}

.textareaDisable {
  background: $color-bg-base !important;
}

@media screen and (max-width: 650px) {
  .fromTablet {
    display: none !important;
  }

  .textarea {
    max-height: none;
    display: block;
  }

  .innerTextarea {
    flex: 1 0 100%;
    max-height: 250px;
    min-height: 250px;
    overflow: auto;
  }

  .textareaItem {
    flex: 1 0 100%;
  }
}
