@use '@style/vars' as *;
.formAction {
  margin: $size * 2 0 $size * 0.5 0;
  text-align: center;

  & button {
    min-width: 250px;
  }
}

.checkboxGroup {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: $size * 0.5;

  & label {
    color: $color-white !important;
  }
}

.checkbox {
  & span {
    color: $color-white !important;
  }
}

.title {
  font-weight: 500;
  font-size: $font-size;
  font-style: italic;
  margin: 0;
}

.grTitle {
  font-size: $font-size-heading-5;
  color: $color-primary;
  font-style: italic;
  margin: 0;
}
