@use '@style/vars' as *;

.disableMeaning {
  border: 1px solid $color-red-4 !important;
}

.btnInactive {
  background: transparent !important;
  color: $color-text-secondary !important;
  border-color: $color-text-secondary !important;
  border-radius: $size * 0.25 !important;
}

.date {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: $size * 0.25;
  font-size: 12px;
  font-weight: normal;
  font-style: italic;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  word-break: break-word;
  min-height: $control-height;
}

.btnDelete {
  flex: 0 0 38px;
}

.examples {
  margin-bottom: 0;

  & > ul {
    margin-left: 0;
  }
}

.exampleItem {
  display: block;
  padding: $padding * 0.5 $padding * 0.5 $padding * 0.5 $padding * 2;

  &:first-child {
    border-bottom: none;
  }
}

.nestedExampleItem {
  display: list-item;
  padding: 0;
  line-height: 2em;

  & textarea {
    resize: none !important;
    color: $color-white !important;
    background: transparent !important;

    &:focus {
      color: $color-white !important;
      background: transparent !important;
    }

    &:focus-within {
      color: $color-white !important;
      background: transparent !important;
    }
  }
}

.origin {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: $size * 0.25;
  font-size: $font-size-heading-5;
  margin: 0;
  color: $color-text-base;
  margin-bottom: 0;

  :global([data-theme='dark']) & {
    color: $color-white;
  }

  & span {
    display: block;
  }
}

.quickView {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  color: $color-white !important;
}

.warnTitle {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  color: $color-text-secondary;
}

.kindOfWord {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: $size * 0.5;
  margin-bottom: $margin * 0.25;
  font-weight: normal;
  font-style: italic;
}

.level {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-weight: normal;
  line-height: 1em;
  min-height: $size * 2;
  margin: 0 0 0 0;
  gap: $size * 0.5;
}

.pronouns {
  font-weight: normal;
}

.definition {
  color: $color-primary;
  font-size: $font-size;
}

.translate {
  color: var(--ant-color-link);
  font-size: $font-size;
}

.audio {
  display: flex;
  gap: $size * 0.25;
}

.note {
  font-weight: normal;
  font-style: italic;
  display: flex;
  gap: $size * 0.25;
  flex-wrap: wrap;
  row-gap: 0;
  font-size: 13px;
}

.listItem {
  padding-left: $size * 1;
  font-size: 13px;

  & li {
    display: list-item;
  }
}

.btnActions {
  color: var(--ant-color-text-secondary) !important;

  & span {
    font-size: $font-size-heading-4 !important;
  }
}

.btnAction {
  width: 100%;
  text-align: left !important;
}
