.playerWrapper {
  width: 100%;
}

.audioPlayer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-flow: wrap;
  width: 1200px;
  max-width: 100%;
  margin: calc(var(--ant-size) * 1) auto;
  color: var(--ant-color-white);
  font-family: Oswald, sans-serif;
  border: 1px solid rgba(244, 244, 244, 0.1);
  border-radius: calc(var(--ant-size) * 0.25);
  box-shadow: 0px 0px 30px 0px rgba(255, 255, 255, 0.2);
}

.player {
  flex: 1 0 auto;
  justify-content: space-between;
  margin: 0 auto;
  gap: calc(var(--ant-size) * 1px);
  padding: calc(var(--ant-size));
  min-height: 370px;
}

.tracks {
  flex: 0 0 350px;
}

.transcript {
  overflow: auto;
  max-height: 800px;
}

.tracksTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: calc(var(--ant-size) * 0.5px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);

  & h2 {
    text-transform: capitalize;
    font-size: var(--ant-font-size-heading-5);
    margin: 0;
  }
}

.tracksContent {
  padding: 0 0 calc(var(--ant-size) * 0.5px) 0;

  & ul {
    max-height: 316px;
    overflow: auto;

    & li {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: calc(var(--ant-size) * 0.5px) calc(var(--ant-size) * 0.5px)
        calc(var(--ant-size) * 0.5px) calc(var(--ant-size) * 0.5px);
      cursor: pointer;
      gap: calc(var(--ant-size) * 0.5px);

      &:hover {
        background: rgba(82, 82, 82, 0.8);
      }
    }
  }
}

.active {
  background: rgba(82, 82, 82, 0.8);
}

.iFrameSrc {
  & iframe {
    display: block;
    min-height: 352px;
    width: 100%;
  }
}

@media screen and (max-width: 640px) {
  .transcript {
    max-height: 400px;
  }
  .tracksContent {
    & ul {
      max-height: 200px;
    }
  }

  .playerWrapper {
    position: relative;
  }

  .audioPlayer {
    display: block;
    margin: 0;
    border: none;
  }

  .player {
    position: sticky;
    top: 0;
    z-index: 10;
    min-height: auto;
    overflow-y: auto;
  }

  .tracks {
    flex: 1 0 100%;
  }

  .iFrameSrc {
    & iframe {
      min-height: auto;
    }
  }
}
