@use '@style/vars' as *;

.header {
  height: 60px !important;
  line-height: 60px !important;
  border-bottom: 1px solid rgba(217, 217, 217, 0.2);
  padding: 0px !important;
  position: sticky;
  top: 0;
  z-index: 999;

  & a {
    color: $color-text-base;

    &:hover {
      color: $color-link-hover;
    }
  }
}

.rowHeader {
  height: 60px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-transform: capitalize;
  font-style: italic;
  height: 100%;

  & h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-text-secondary;
    font-size: $font-size-heading-2;

    & a {
      color: $color-text-secondary;

      &:hover {
        color: $color-primary;
      }
    }
  }
}

.brandName {
  margin: 0;
  font-style: normal;
  font-size: $font-size-heading-4;

  & img {
    display: block;
    width: 40px;
  }
}

.logoContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.toogleSidebarBtn {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.btnToggle {
  min-width: 38px;
  margin-right: $size * 0.5;
  padding-inline-start: $size * 0.5 !important;
  padding-inline-end: $size * 0.5 !important;
}

.btnAddNew {
  display: flex !important;
  align-items: center;
  text-transform: uppercase;
  font-weight: bold !important;

  &:hover span {
    color: $color-primary;
  }
}

.userContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  gap: $size * 0.5;
}

.mainNav {
  & ul {
    display: flex;
    justify-content: center;
    align-items: center;

    & li {
      padding: 0 $size * 3;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: $font-size-heading-5;
    }
  }
}

.user {
  margin-left: $size * 0.5;

  & button,
  & button:hover {
    color: $color-text-base;
  }
}

.stayUp {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;

  & button {
    margin-left: $size * 0.5;
    font-weight: bold;
    min-width: 90px;
    border-radius: 0px !important;

    & a {
      &:hover {
        color: inherit;
      }
    }
  }
}
