@use '@style/vars' as *;

.aside {
  padding: $size * 1 0;
  height: 100%;
  overflow: auto;
}

.logo {
  text-transform: capitalize;
  font-size: $size * 2;
  font-style: italic;

  & a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: $size * 1;
  }

  & img {
    width: 70px;
  }
}

.slogan {
  color: $color-white;
  padding: $size * 1 $size * 2;
  text-align: center;

  & h2 {
    font-size: $font-size-heading-4;
    padding-bottom: $size * 2;
    border-bottom: 1px solid #434343; // styleConfig.border.gray[0]
    margin: 0;
  }

  & span {
    font-size: $font-size-heading-2;
  }
}

.brandName {
  margin-left: $size * 1;
}
