@use '@style/vars' as *;

.firstName {
  font-size: $font-size-heading-2;
}

.lastName {
  margin-left: $size * 0.125;
  font-size: $font-size-heading-2;
}

.avatar {
  margin: $size * 0.25 0;
}

.username {
  font-size: $font-size-heading-5;
}

.email {
  font-size: $font-size-heading-5;
  font-style: italic;
}
