@use '@style/vars' as *;
.btnAddNew {
  display: flex !important;
  align-items: center;
  text-transform: uppercase;
  font-weight: bold !important;
  border-radius: 0 !important;

  &:hover span {
    color: $color-primary;
  }
}

.searchExampleInput {
}

.filterWrapper {
  display: flex;
  justify-content: center;
  flex-flow: column;
  gap: $size * 0.5;
  width: 180px;
  background: $color-bg-base;
  padding: $size * 0.5 $size * 0.5;
  box-shadow: 0 0 $size 0 rgba(0, 0, 0, 0.3);
}

.groupBtnAction {
  display: flex;
  justify-content: flex-start;
  gap: $size * 0.5;
}

.searchForm {
  color: $color-text-base;

  & form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: $size * 0.5;
  }

  & form button {
    flex: 0 0 auto;
  }

  & textarea {
    resize: none !important;
  }
}

.autoSearchInputGroup {
  display: flex;
  flex: 1 0;
}

.autoSearchInput {
  flex: 1 0;
}

.padding {
  padding: $padding;
}

.label {
  display: block;
  margin-bottom: $size * 0.5;
}

.optionItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btnAdd {
  position: absolute !important;
  top: 0;
  right: $size * 0.25;
  border-radius: 0px !important;
}

@media screen and (max-width: 767px) {
  .groupBtnAction {
    justify-content: center;
  }
}
